* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }
  .container {
    max-width: 858px;
    width: 100%;
    padding: 15px 0;
    margin: auto;
  }
  
  .container-header{
      max-width: 1095px;
      width: 100%;
    padding: 15px 0;
    margin: auto;
  }
  
  .header__nav {
      display: flex;
    justify-content: end;
    gap: 33px;
  
  }
  
  .header__link{
      font-family: Heebo;
  font-size: 20px;
  font-weight: 500;
  line-height: 29.38px;
  text-align: right;
  color: #000000;
  }
  
  .header__link:active{
      color: red;
  }
  
  header{
      margin-bottom: 100px;
  }


  /* blog   */


  .Blog{
    margin-bottom: 53px;
  }

  .blog__text{
    font-family: Heebo;
font-size: 44px;
font-weight: 700;
line-height: 60px;
text-align: left;
color: #21243D;
margin-bottom: 55px;
  }


  .blog__content{
    max-width: 682px;
  }

  .blog__content--text{
    font-family: Heebo;
font-size: 30px;
font-weight: 500;
line-height: 44.06px;
text-align: left;
color: #21243D;
padding-bottom: 16px;
  }

  .blog__content-div{
    display: flex;
    gap: 30px;
    margin-bottom: 15px;
  }

  .blog__content-div--text{
    font-family: Heebo;
font-size: 20px;
font-weight: 400;
line-height: 29.38px;
text-align: left;
color: #21243D;
  }

  .blog__content-div--text-2{
    font-family: Heebo;
font-size: 20px;
font-weight: 400;
line-height: 29.38px;
text-align: left;
color: #8695A4;
  }

  .blog__content--title{
    font-family: Heebo;
font-size: 16px;
font-weight: 400;
line-height: 23.5px;
text-align: left;
color: #21243D;
  }


  .blog__hr{
    margin: 30px 0;
    color: #E0E0E0;
  }

  footer{
    padding: 50px 0;
}

.footer__icons {
  display: flex;
  gap: 35px;
  justify-content: center;
}


.footer__link{
    font-family: Heebo;
font-size: 14px;
font-weight: 400;
line-height: 20.56px;
text-align: center;
color: #21243D;
padding-top: 26px;
/* justify-content: center; */
}


.footer__link-div{
    display: flex;
    justify-content: center;
}
